<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileResourceMapper">
	<resultMap type="cn.cebest.entity.system.download.FileResources"
		id="resultFileResources">
		<id property="fileid" column="FILEID" />
		<result property="imageid" column="IMAGEID" />
		<result property="imgurl" column="IMGURL" />
		<result property="templateid" column="TEMPLATEID" />
		<result property="tem_name" column="TEM_NAME_" />
		<result property="summary" column="SUMMARY" />
		<result property="created_time" column="CREATED_TIME" />
		<result property="update_time" column="UPDATE_TIME" />
		<result property="wburl" column="WBURL" />
		<result property="keywords" column="KEYWORDS" />
		<result property="filedJson" column="FILEDJSON" />
		<result property="title" column="TITLE" />
		<result property="i_title" column="I_TITLE" />
		<result property="TXT" column="TXT" />
		<result property="top" column="TOP" />
		<result property="top_time" column="TOP_TIME"/>
		<result property="recommend" column="RECOMMEND" />
		<result property="recommend_time" column="RECOMMEND_TIME"/>
		<result property="hot" column="HOT" />
		<result property="hot_time" column="HOT_TIME"/>
		<result property="download_count" column="DOWNLOAD_COUNT" />
		<result property="siteid" column="SITEID" />
		<result property="sort" column="SORT"/>
		<result property="status" column="STATUS"/>
		<result property="download_id" column="DOWNLOADID"/>
		<result property="contentUrlName" column="contentUrlName" />
		<result property="columUrlName" column="columUrlName" />
		<collection property="files"
			ofType="cn.cebest.entity.system.download.DownloadFiles">
			<id property="id" column="ID_" />
			<result property="name" column="NAME_" />
			<result property="type" column="TYPE_" />
			<result property="filepach" column="FILEPACH_" />
			<result property="mark" column="MARK" />
			<result property="size" column="SIZE" />
		</collection>
		<collection property="timageList"
			ofType="cn.cebest.entity.system.Image">
			<id property="imageId" column="IMAGE_ID_" />
			<result property="title" column="TITLE_" />
			<result property="subhead" column="SUBHEAD_" />
			<result property="imgurl" column="IMGURL_" />
			<result property="forder" column="FORDER_" />
			<result property="bz" column="BZ_" />
		</collection>
		<collection property="fileTypeList"
			ofType="cn.cebest.entity.system.download.FileType">
			<id property="download_id" column="DOWNLOAD_ID_" />
			<result property="download_name" column="DOWNLOAD_NAME_" />

			<collection property="columConfigList" ofType="cn.cebest.entity.system.ColumConfig">
				<id property="id" column="COLUMNID_" />
				<result property="columName" column="COLUMNAME_" />
			</collection>
		</collection>
		<collection property="columConfigList" ofType="cn.cebest.entity.system.ColumConfig">
			<id property="id" column="COLUMNID_" />
			<result property="columName" column="COLUMNAME_" />
		</collection>
	</resultMap>
	<!-- 查询图片路径 -->
	<select id="selectImagePach" resultType="pd">
		SELECT I.IMGURL,I.IMAGE_ID
		FROM WEB_FILE F
		LEFT JOIN WEB_IMAGE I ON
		F.IMAGEID=I.IMAGE_ID
		WHERE F.FILEID IN
		<foreach collection="array" item="fileid01" open="(" close=")"
			separator=",">
			<if test="fileid01 !=null and fileid01 != ''">
				#{fileid01}
			</if>
			<if test="fileid01 ==null or fileid01 == ''">
				''
			</if>
		</foreach>
	</select>
	<!-- ceshikaishi -->
	<select id="selectTestlistPage" parameterType="page" resultType="string">
		SELECT DISTINCT F.FILEID
		FROM WEB_FILE F
		<if test="(pd.columnId !=null and pd.columnId != '') or (pd.download_id !=null and pd.download_id !='')">
			LEFT JOIN WEB_FILETYPE_FILE FTF ON FTF.FILEID=F.FILEID
		</if>
		<where>
			1=1
			<if test="pd.SITEID !=null and pd.SITEID != ''">
				AND F.SITEID=#{pd.SITEID}
			</if>

			<if test="pd.KEYWORDS !=null and pd.KEYWORDS !=''">AND F.TITLE LIKE '%' #{pd.KEYWORDS}
				'%' </if>
			<if test="pd.download_id !=null and pd.download_id !=''">AND FTF.FILETYPEID=#{pd.download_id} </if>
			<if test="pd.columnId !=null and pd.columnId != ''">AND FTF.COLUMNID=#{pd.columnId} </if>
		</where>
		<if test="pd.CREATED_TIME !=null and pd.CREATED_TIME !=''">
			ORDER BY F.CREATED_TIME DESC
		</if>
		<if test="pd.UPDATE_TIME !=null and pd.UPDATE_TIME !=''">
			ORDER BY F.UPDATE_TIME DESC
		</if>
		<if test="pd.TOP_TIME !=null and pd.TOP_TIME !=''">
			ORDER BY F.TOP DESC,F.TOP_TIME DESC
		</if>
		<if test="pd.RECOMMEND_TIME !=null and pd.RECOMMEND_TIME !=''">
			ORDER BY F.RECOMMEND DESC, F.RECOMMEND_TIME DESC
		</if>

	</select>


	<select id="selectTest" parameterType="pd" resultMap="resultFileResources">
		SELECT F.FILEID,F.TITLE,F.CREATED_TIME,FT.DOWNLOAD_NAME AS
		DOWNLOAD_NAME_,FT.DOWNLOAD_ID AS DOWNLOAD_ID_,I.IMGURL,
		DF.ID AS
		ID_,DF.TYPE AS TYPE_,F.DOWNLOAD_COUNT,F.TOP,F.RECOMMEND,C.ID AS COLUMNID_,C.COLUM_NAME AS COLUMNAME_
		FROM WEB_FILE F
		LEFT JOIN WEB_FILETYPE_FILE FF ON FF.FILEID=F.FILEID
		LEFT JOIN
		WEB_FILETYPE FT ON FT.DOWNLOAD_ID=FF.FILETYPEID
		LEFT JOIN
		WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON
		F.IMAGEID=I.IMAGE_ID
		LEFT JOIN WEB_COLUMCONFIG C ON C.ID=FF.COLUMNID 
		where F.FILEID IN
		<foreach collection="ids" close=")" item="fileid02" open="("
			separator=",">
			#{fileid02}
		</foreach>
		<if test="CREATED_TIME !=null and CREATED_TIME !=''">
			ORDER BY F.CREATED_TIME DESC
		</if>
		<if test="UPDATE_TIME !=null and UPDATE_TIME !=''">
			ORDER BY F.UPDATE_TIME DESC
		</if>
		<if test="TOP_TIME !=null and TOP_TIME !=''">
			ORDER BY F.TOP DESC, F.TOP_TIME DESC
		</if>
		<if test="RECOMMEND_TIME !=null and RECOMMEND_TIME !=''">
			ORDER BY F.RECOMMEND DESC, F.RECOMMEND_TIME DESC
		</if>

	</select>
	<!-- ceshijieshu -->
	<!-- 展示 -->
	<select id="selectResourceslistPage" parameterType="page"
		resultMap="resultFileResources">
		SELECT F.FILEID,F.TITLE,F.CREATED_TIME,FT.DOWNLOAD_NAME AS
		DOWNLOAD_NAME_,FT.DOWNLOAD_ID AS DOWNLOAD_ID_,I.IMGURL,
		DF.ID AS
		ID_,DF.TYPE AS TYPE_,F.DOWNLOAD_COUNT,F.TOP,F.RECOMMEND
		FROM WEB_FILE F
		LEFT JOIN WEB_FILETYPE_FILE FF ON FF.FILEID=F.FILEID
		LEFT JOIN
		WEB_FILETYPE FT ON FT.DOWNLOAD_ID=FF.FILETYPEID
		LEFT JOIN
		WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON
		F.IMAGEID=I.IMAGE_ID
		<where>
			F.SITEID=#{pd.SITEID}
			<if test="pd.KEYWORDS !=null and pd.KEYWORDS !=''">AND F.TITLE LIKE '%' #{pd.KEYWORDS}
				'%' </if>
		</where>
		<if test="CREATED_TIME !=null and CREATED_TIME !=''">
			ORDER BY F.CREATED_TIME DESC
		</if>
		<if test="UPDATE_TIME !=null and UPDATE_TIME !=''">
			ORDER BY F.UPDATE_TIME DESC
		</if>
		<if test="TOP_TIME !=null and TOP_TIME !=''">
			ORDER BY F.TOP_TIME DESC
		</if>
		<if test="RECOMMEND_TIME !=null and RECOMMEND_TIME !=''">
			ORDER BY F.RECOMMEND_TIME DESC
		</if>
	</select>



	<!-- 添加文件 -->
	<insert id="insertFile" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO
		WEB_FILE(FILEID,FILEDJSON,IMAGEID,TEMPLATEID,SUMMARY,CREATED_TIME,UPDATE_TIME,WBURL,KEYWORDS,TITLE,DOWNLOAD_COUNT,SITEID,RECOMMEND,TOP)
		VALUES(#{fileid},#{filedJson},#{imageid},#{templateid},#{summary},#{created_time},#{update_time},#{wburl},#{keywords},#{title},0,#{siteid},#{recommend},#{top})
	</insert>
	<!-- 添加文件关联关系 -->
	<insert id="insertRelevant" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO WEB_FILE_RELEVANT(RELEVANTID,FILEID)VALUES
		<foreach collection="fileids" item="fileid03" close="" open=""
			separator=",">
			(#{fileid03},#{fileid})
		</foreach>
	</insert>

	<!-- 批量添加可下载的文件 -->
	<insert id="insertDownloadFiles" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO WEB_DOWNLOAD_FILE(FILEID,NAME,TYPE,FILEPACH,MARK,SIZE)VALUES
		<foreach collection="files" item="file" close="" open=""
			separator=",">
			(#{file.fileid},#{file.name},#{file.type},#{file.filepach},#{file.mark},#{file.size})
		</foreach>
	</insert>

	<!-- 添加文件类型和文件关联关系 -->
	<insert id="insertFiletype_file" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO WEB_FILETYPE_FILE(FILEID,FILETYPEID,COLUMNID)VALUES
		<foreach collection="objKey_Value" item="fileid04" close="" open=""
			separator=",">
			(#{fileid},#{fileid04.values},#{fileid04.key})
		</foreach>
	</insert>

	<!-- 保存富文本 -->
	<insert id="insertTXT" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO
		WEB_TXT(CONTENT_ID,TXT)
		VALUES(#{fileid},#{TXT})
	</insert>
	<!-- 修改富文本 -->
	<update id="updateTXT" parameterType="cn.cebest.entity.system.download.FileResources">
		update WEB_TXT
		set
		TXT=#{TXT}
		where CONTENT_ID=#{fileid}
	</update>

	<select id="selectTXTCount" parameterType="cn.cebest.entity.system.download.FileResources"
		resultType="Integer">
		select count(1)
		from WEB_TXT
		where CONTENT_ID=#{fileid}
	</select>
	<!-- 批量删除富文本 -->
	<delete id="deleteTXT">
		DELETE FROM WEB_TXT
		WHERE CONTENT_ID IN
		<foreach collection="array" item="fileid05" close=")" open="("
			separator=",">
			#{fileid05}
		</foreach>
	</delete>

	<!-- 批量删除文件 -->
	<delete id="deleteFile">
		DELETE FROM WEB_FILE
		WHERE FILEID IN
		<foreach collection="array" item="fileid06" close=")" open="("
			separator=",">
			#{fileid06}
		</foreach>
	</delete>

	<!-- 删除文件类型和文件关联关系 -->
	<delete id="deleteFiletype_file">
		DELETE FROM WEB_FILETYPE_FILE
		WHERE FILEID IN
		<foreach collection="array" item="fileid07" close=")" open="("
			separator=",">
			#{fileid07}
		</foreach>
	</delete>

	<!-- 批量删除文件关联关系 -->
	<delete id="deleteRelevant">
		DELETE FROM WEB_FILE_RELEVANT
		WHERE FILEID IN
		<foreach collection="array" item="fileid08" close=")" open="("
			separator=",">
			#{fileid08}
		</foreach>
	</delete>
	<!--批量删除可下载的文件 -->
	<delete id="deleteDownloadFiles">
		DELETE FROM WEB_DOWNLOAD_FILE
		WHERE ID IN
		<foreach collection="array" item="fileid09" close=")" open="("
			separator=",">
			#{fileid09}
		</foreach>
	</delete>
	<!-- 查询文件路径 -->
	<select id="selectFilePach" resultType="pd">
		SELECT ID,FILEPACH,MARK
		FROM WEB_DOWNLOAD_FILE
		WHERE FILEID IN
		<foreach collection="array" item="fileid10" close=")" open="("
			separator=",">
			#{fileid10}
		</foreach>
	</select>
	<!-- 根据类型ids查询文件和类型 -->
	<select id="selectByTypeIds" parameterType="HashMap" resultMap="resultFileResources">
		SELECT F.FILEID,F.TITLE,FT.DOWNLOAD_ID AS
		DOWNLOAD_ID_,FT.DOWNLOAD_NAME AS DOWNLOAD_NAME_
		FROM WEB_FILE F
		LEFT
		JOIN WEB_FILETYPE_FILE FF ON F.FILEID=FF.FILEID
		LEFT JOIN WEB_FILETYPE
		FT ON FF.FILETYPEID=FT.DOWNLOAD_ID
		WHERE FT.DOWNLOAD_ID in
		<foreach collection="ids" close=")" open="(" item="fileid11"
			separator=",">
			#{fileid11}
		</foreach>
		<if test="fileid !=null and fileid !=''"> and F.FILEID!=#{fileid}</if>
	</select>
	<!-- 根据ids查询文件和类型 -->
	<select id="selectTypeById" resultMap="resultFileResources">
		SELECT F.FILEID,F.TITLE,FT.DOWNLOAD_ID AS
		DOWNLOAD_ID_,FT.DOWNLOAD_NAME AS DOWNLOAD_NAME_
		FROM WEB_FILE F
		LEFT
		JOIN WEB_FILETYPE_FILE FF ON F.FILEID=FF.FILEID
		LEFT JOIN WEB_FILETYPE
		FT ON FF.FILETYPEID=FT.DOWNLOAD_ID
		WHERE F.FILEID in
		<foreach collection="array" close=")" open="(" item="fileid12"
			separator=",">
			#{fileid12}
		</foreach>
	</select>

	<select id="selectType" parameterType="page" resultType="pd">
		SELECT
		FT.DOWNLOAD_ID ,FT.DOWNLOAD_NAME
		FROM WEB_FILETYPE FT
		WHERE FT.SITEID=#{pd.SITEID}
	</select>
	<!-- 根据id查询文件 <select id="selectById" resultMap="resultFileResources"> SELECT 
		F.FILEID,F.TITLE,FT.DOWNLOAD_ID AS DOWNLOAD_ID_,FT.DOWNLOAD_NAME AS DOWNLOAD_NAME_,T.TXT,F.KEYWORDS,F.SUMMARY,F.WBURL,F.IMAGEID, 
		I.TITLE AS I_TITLE,FT.DOWNLOAD_NAME AS DOWNLOAD_NAME_,TL.TEM_NAME AS TEM_NAME_ 
		,F.TEMPLATEID,I.IMGURL, DF.NAME AS NAME_,DF.TYPE AS TYPE_,DF.ID AS ID_,DF.FILEPACH 
		AS FILEPACH_, CC.ID AS COLUMNID_,CC.COLUM_NAME AS COLUMNAME_,FF.COLUMNID 
		FROM WEB_FILE F LEFT JOIN WEB_FILETYPE_FILE FF ON F.FILEID=FF.FILEID LEFT 
		JOIN WEB_FILETYPE FT ON FF.FILETYPEID=FT.DOWNLOAD_ID LEFT JOIN WEB_TXT T 
		ON CONTENT_ID=F.FILEID LEFT JOIN WEB_IMAGE I ON I.IMAGE_ID=F.IMAGEID LEFT 
		JOIN WEB_TEMPLATE TL ON TL.ID=F.TEMPLATEID LEFT JOIN WEB_DOWNLOAD_FILE DF 
		ON DF.FILEID=F.FILEID LEFT JOIN WEB_FILETYPE_COLUMN FC ON FC.DOWNLOADID=FT.DOWNLOAD_ID 
		LEFT JOIN WEB_COLUMCONFIG CC ON CC.ID=FC.COLUMNID WHERE F.FILEID =#{id} </select> -->

	<select id="selectById" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,FT.DOWNLOAD_ID AS DOWNLOAD_ID_,FT.DOWNLOAD_NAME AS
		DOWNLOAD_NAME_,T.TXT,F.KEYWORDS,F.SUMMARY,F.WBURL,F.IMAGEID,
		I.TITLE AS
		I_TITLE,FT.DOWNLOAD_NAME AS DOWNLOAD_NAME_,TL.TEM_NAME AS TEM_NAME_
		,F.TEMPLATEID,I.IMGURL,F.FILEDJSON,
		DF.NAME AS NAME_,DF.TYPE AS TYPE_,DF.ID AS ID_,DF.FILEPACH AS FILEPACH_,DF.MARK,
		CC.ID AS COLUMNID_,CC.COLUM_NAME AS COLUMNAME_,I2.IMGURL AS IMGURL_,I2.TITLE AS TITLE_,I2.FORDER AS FORDER_,I2.BZ AS BZ_,I2.IMAGE_ID AS IMAGE_ID_
		FROM WEB_FILE F
		LEFT JOIN
		WEB_FILETYPE_FILE FF ON F.FILEID=FF.FILEID
		LEFT JOIN WEB_FILETYPE FT ON
		FF.FILETYPEID=FT.DOWNLOAD_ID
		LEFT JOIN WEB_TXT T ON CONTENT_ID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON I.IMAGE_ID=F.IMAGEID
		LEFT JOIN WEB_IMAGE I2 ON I2.MASTER_ID = F.FILEID
		LEFT JOIN WEB_TEMPLATE TL
		ON TL.ID=F.TEMPLATEID
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN
		WEB_COLUMCONFIG CC ON CC.ID=FF.COLUMNID
		WHERE F.FILEID =#{id}
	</select>
	<select id="selectByReId" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,FT.DOWNLOAD_ID AS DOWNLOAD_ID_,FT.DOWNLOAD_NAME AS
		DOWNLOAD_NAME_
		FROM WEB_FILE F
		LEFT JOIN WEB_FILETYPE_FILE FF ON
		F.FILEID=FF.FILEID
		LEFT JOIN WEB_FILETYPE FT ON
		FF.FILETYPEID=FT.DOWNLOAD_ID
		LEFT JOIN WEB_FILE_RELEVANT FR ON
		FR.RELEVANTID=F.FILEID
		LEFT JOIN WEB_FILE F1 ON F1.FILEID=FR.FILEID
		WHERE F1.FILEID =#{id}
	</select>


	<!-- 修改文件 -->
	<update id="updateFile" parameterType="cn.cebest.entity.system.download.FileResources">
		UPDATE WEB_FILE
		<set>
			<if test="templateid !=null and templateid !=''">templateid=#{templateid},</if>
			<if test="recommend !=null and recommend !=''">recommend=#{recommend},</if>
			<if test="siteid !=null and siteid !=''">siteid=#{siteid},</if>
			<if test="top !=null and top !=''">top=#{top},</if>
			<if test="download_count !=null and download_count !=''">download_count=#{download_count},</if>
			imageid=#{imageid},
			summary=#{summary},
			update_time=#{update_time},
			wburl=#{wburl},
			keywords=#{keywords},
			FILEDJSON=#{filedJson},
			title=#{title}
		</set>
		WHERE FILEID=#{fileid}


	</update>
	<update id="updataRecommendAndTopByIds" parameterType="cn.cebest.entity.system.download.FileResources">
		UPDATE WEB_FILE
		<set>
			update_time=#{update_time},
			<if test="recommend_time !=null and recommend_time !=''">recommend=#{recommend},</if>
			<if test="recommend_time !=null and recommend_time !=''">recommend_time=#{recommend_time},</if>
			<if test="top_time !=null and top_time !=''">top=#{top},</if>
			<if test="top_time !=null and top_time !=''">top_time=#{top_time}</if>
		</set>
		WHERE FILEID IN
		<foreach collection="fileids" item="fileid13" close=")" open="("
			separator=",">
			#{fileid13}
		</foreach>
	</update>

	<!-- 根据ids查询文件和类型 -->
	<select id="selectFileResourcesByTypeIds" parameterType="pd"
		resultType="cn.cebest.entity.system.download.FileResources">
		SELECT F.FILEID,F.TITLE,F.CREATED_TIME
		FROM WEB_FILE F
		LEFT JOIN
		WEB_FILETYPE_FILE FFT ON FFT.FILEID=F.FILEID
		WHERE F.TOP=#{TOP} AND
		F.TOP_TIME &gt; #{TIME} FFT.FILETYPEID IN
		<foreach collection="ids" close=")" open="(" item="fileid14"
			separator=",">
			#{fileid14}
		</foreach>
	</select>
	<select id="selectFileTypeIdsByColumnId" resultType="String">
		SELECT
		F.DOWNLOAD_ID
		FROM WEB_FILETYPE F
		LEFT JOIN WEB_FILETYPE_COLUMN FC ON
		FC.DOWNLOADID=F.DOWNLOAD_ID
		WHERE FC.COLUMNID==#{id}
	</select>
	<!-- 根据条件查询文件类型 -->
	<select id="selectAllByAll" parameterType="HashMap" resultType="pd">
		SELECT F.FILEID,F.TITLE,F.WBURL,
		F.TEMPLATEID,T.TXT,F.SUMMARY
		FROM
		WEB_FILE F
		LEFT JOIN WEB_TXT T ON CONTENT_ID=F.FILEID
		<where>
			<if test="SITEID !=null and SITEID !=''">and SITEID=#{SITEID}</if>
			<if test="RECOMMEND !=null and RECOMMEND !=''">and RECOMMEND=#{RECOMMEND}</if>
			<if test="RECOMMEND_TIME !=null and RECOMMEND_TIME !=''">and RECOMMEND_TIME &gt; #{RECOMMEND_TIME}</if>
		</where>
	</select>
	<!-- 查询各个栏目下置顶的产品 -->
	<select id="findTopContentList" resultType="pd">
		SELECT F.FILEID,F.TITLE,F.CREATED_TIME,TC.COLUMNID,F.TOP_TIME
		FROM WEB_FILE F
		INNER JOIN
		WEB_FILETYPE_FILE FT ON FT.FILEID=F.FILEID
		INNER JOIN
		WEB_FILETYPE_COLUMN TC ON TC.DOWNLOADID=FT.FILETYPEID
		WHERE F.TOP='1'
	</select>

	<!-- 根据ids查询文件和类型 -->
	<select id="selectFileResourceAndDownloadFileByTypeIdlistPage"
		parameterType="page" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,F.CREATED_TIME,DF.FILEPACH AS FILEPACH_,DF.NAME as
		NAME_,DF.TYPE AS TYPE_,DF.ID AS ID_,F.DOWNLOAD_COUNT,F.UPDATE_TIME
		FROM WEB_FILE F
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_FILETYPE_FILE FFT ON FFT.FILEID=F.FILEID
		WHERE
		FFT.FILETYPEID =#{pd.id}
		ORDER BY F.UPDATE_TIME DESC
	</select>

	<!-- weijie -->
	<select id="findTopPolicyforIndex" resultMap="resultFileResources">
		SELECT
		WF.TITLE
		title,WI.IMGURL imgurl,WDF.FILEPACH wburl,WF.TOP_TIME update_time
		FROM
		WEB_FILETYPE_COLUMN WFC
		LEFT JOIN WEB_FILETYPE_FILE WFF ON
		WFC.DOWNLOADID=WFF.FILETYPEID
		LEFT JOIN WEB_FILE WF ON
		(WFF.FILEID=WF.FILEID AND WF.RECOMMEND='1')
		LEFT JOIN WEB_DOWNLOAD_FILE
		WDF ON (WDF.FILEID=WF.FILEID)
		RIGHT JOIN WEB_IMAGE WI ON
		WF.IMAGEID=WI.IMAGE_ID
		WHERE WFC.COLUMNID=#{id}
		ORDER BY WF.TOP_TIME
		DESC
	</select>
	<!-- 根据id查询模板路径 -->
	<select id="selectTemplatePachById" resultType="pd">
		SELECT T.TEM_FILEPATH AS template_Path
		FROM WEB_TEMPLATE T
		LEFT JOIN WEB_FILE
		F ON T.ID=F.TEMPLATEID
		WHERE F.FILEID=#{id}
	</select>
	<select id="selectDownloadFileById" parameterType="Integer"
		resultType="cn.cebest.entity.system.download.DownloadFiles">
		SELECT FILEPACH,NAME,FILEID
		FROM WEB_DOWNLOAD_FILE
		WHERE
		ID=#{id}
	</select>
	<select id="selectFileFileResourceAndDownloadFileByColumnIdlistPage"
		parameterType="page" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,F.CREATED_TIME,DF.FILEPACH AS FILEPACH_,DF.NAME as
		NAME_,DF.TYPE AS TYPE_,DF.ID AS ID_,F.DOWNLOAD_COUNT,F.UPDATE_TIME,I.IMGURL,F.SUMMARY,F.FILEDJSON,WT.TXT,I2.IMGURL AS IMGURL_,
		I2.IMAGE_ID AS IMAGE_ID_,I2.TITLE AS TITLE_,WS.ID AS contentUrlName,DF.MARK
		FROM WEB_FILE F
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_FILETYPE_FILE FTF ON FTF.FILEID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON I.IMAGE_ID=F.IMAGEID 
		LEFT JOIN WEB_IMAGE I2 ON I2.MASTER_ID = F.FILEID
		LEFT JOIN WEB_TXT WT ON WT.CONTENT_ID = F.FILEID
		LEFT JOIN WEB_SKIPPATH WS ON F.FILEID=WS.CONTENTID
		<where>
			<if test="pd.TYPE !=null">
			and	FTF.FILETYPEID=#{pd.id}
			</if>
			<if test="pd.COLUMNID !=null">
			and	FTF.COLUMNID=#{pd.COLUMNID}
			</if>
			<if test="pd.id != null and pd.id != ''">
			and F.FILEID=#{pd.id}
			</if>
			
		</where>
		ORDER BY F.SORT,F.UPDATE_TIME DESC
	</select>
	<select id="selectFileResourceAndDownloadFileById" resultMap="resultFileResources">
		SELECT F.FILEID,F.TITLE,F.CREATED_TIME,DF.FILEPACH AS
		FILEPACH_,DF.NAME as NAME_,DF.TYPE AS TYPE_,DF.ID AS
		ID_,F.WBURL,F.DOWNLOAD_COUNT,F.UPDATE_TIME,WS.ID AS contentUrlName
		FROM WEB_FILE F
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON F.FILEID=DF.FILEID
		LEFT JOIN WEB_SKIPPATH WS ON F.FILEID=WS.CONTENTID
		WHERE F.FILEID=#{id}
	</select>

	<update id="updateDownload_count">
		UPDATE WEB_FILE F
		SET
		F.DOWNLOAD_COUNT=F.DOWNLOAD_COUNT+1
		WHERE F.FILEID=#{FILEID}
	</update>
	
	<!-- 根据栏目ids删除和栏目的关联关系 -->
	<delete id="deleteByColumnIds">
		DELETE FROM WEB_FILETYPE_FILE
		WHERE COLUMNID IN
		<foreach collection="array" item="fileid15" close=")" open="("
			separator=",">
			#{fileid15}
		</foreach>
	</delete>
	
	<!-- 查询类型对应的栏目数 -->
	<select id="selectCountByIds" resultType="HashMap">
		SELECT COUNT(*),FILEID
		FROM WEB_FILETYPE_FILE
		WHERE FILEID IN
		<foreach collection="array" item="fileid16" close=")" open="("
			separator=",">
			#{fileid16}
		</foreach>
		GROUP BY FILEID
	</select>
	
	<!-- 根据栏目ids查询分类ids -->
	<select id="selectIdsByColumnIds" resultType="String">
		SELECT FILEID
		FROM WEB_FILETYPE_FILE
		WHERE COLUMNID IN
		<foreach collection="array" item="fileid17" close=")" open="("
			separator=",">
			#{fileid17}
		</foreach>
	</select>
	<select id="selectIdsByColumID" parameterType="pd" resultType="String">
		SELECT DISTINCT FILEID FROM WEB_FILETYPE_FILE 
		WHERE 1=1
		<if test="columId !=null and columId !=''">
			AND COLUMNID=#{columId} 
		</if>
		<if test="typeId !=null and typeId !=''">
			AND FILETYPEID=#{typeId}
		</if>
		<if test="typeId =='-1'">
			AND (FILETYPEID IS NULL OR FILETYPEID ='')
		</if>
	</select>
	<!-- 根据内容ID数组，查询其关联信息  -->
	<select id="selectlistPageInfoByIdArry" parameterType="page" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,F.DOWNLOAD_COUNT,F.CREATED_TIME,F.UPDATE_TIME,F.TOP,F.TOP_TIME,F.RECOMMEND,F.RECOMMEND_TIME,F.HOT,F.HOT_TIME,F.STATUS,F.SORT,
		CC.COLUM_NAME AS COLUMNAME_,CC.ID AS COLUMNID_,
		FT.DOWNLOAD_ID AS DOWNLOAD_ID_,FT.DOWNLOAD_NAME AS DOWNLOAD_NAME_
		FROM (/*start*/
			SELECT * FROM WEB_FILE FO WHERE 1=1
			<if test="pd.keyword!=null and pd.keyword !=''">
				AND TITLE LIKE '%' #{pd.keyword} '%'
			</if>
			<if test="pd.idArry !=null and pd.idArry.length>0">
				AND FO.FILEID IN 
				<foreach collection="pd.idArry" close=")" item="fileId" open="(" separator=",">
					'${fileId}'
				</foreach>
			</if>
			ORDER BY FO.UPDATE_TIME DESC
		  /*end*/) F
		LEFT JOIN WEB_FILETYPE_FILE FCT ON FCT.FILEID=F.FILEID
		LEFT JOIN WEB_COLUMCONFIG CC ON CC.ID=FCT.COLUMNID
		LEFT JOIN WEB_FILETYPE FT ON FCT.FILETYPEID=FT.DOWNLOAD_ID
	</select>
	
	<update id="updateStatusByIds" parameterType="pd">
		UPDATE WEB_FILE
		SET STATUS=${status}
		WHERE
		FILEID IN
		<foreach collection="ids" item="fileid18" close=")" open="("
			separator=",">
			#{fileid18}
		</foreach>
	</update>
	
	<update id="updataRecommendAndTopAndHotByIds" parameterType="cn.cebest.entity.system.download.FileResources">
		UPDATE WEB_FILE
		<set>
			UPDATE_TIME=#{update_time},
			<if test="recommend !=null and recommend !=''">recommend=#{recommend},</if>
			<if test="recommend_time !=null">recommend_time=#{recommend_time},</if>
			<if test="hot !=null and hot !=''">hot=#{hot},</if>
			<if test="hot_time !=null">hot_time=#{hot_time},</if>
			<if test="top !=null and top != ''">top=#{top},</if>
			<if test="top_time !=null">top_time=#{top_time}</if>
		</set>
		WHERE FILEID IN
		<foreach collection="fileids" item="fileid19" close=")" open="("
			separator=",">
			#{fileid19}
		</foreach>
	</update>
	
	<!-- 更新排序值 -->
	<update id="updateSort" parameterType="pd">
		UPDATE WEB_FILE
		SET SORT= #{sort}
		WHERE FILEID =#{id}
	</update>
	
	<select id="selectFileById"  resultType="cn.cebest.entity.system.download.DownloadFiles">
		SELECT 
		WDF.FILEID,
		WDF.FILEPACH,
		WDF.NAME ,
		WDF.MARK
		FROM WEB_DOWNLOAD_FILE WDF
		WHERE  WDF.FILEID in 
		<foreach collection="array" item="download_id" close=")" open="("
			separator=",">
			#{download_id}
		</foreach>
	</select>
	<!--查询相关文件  -->
	<select id="findReleventFileByid" resultMap="resultFileResources">
		SELECT
			FR.FILEID
		FROM
			WEB_FILE_RELEVANT FR
		LEFT JOIN WEB_FILE F ON FR.FILEID = FR.FILEID
		WHERE
	FR.FILEID =#{id}
	</select>
	
	<!-- 批量添加图片 -->
	<insert id="saveImages" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO
		WEB_IMAGE(IMAGE_ID,TITLE,IMGURL,TOURL,TYPE,FORDER,BZ,MASTER_ID) VALUES
		<foreach collection="pictureList" item="image" open=""
			separator="," close="">
			(#{image.imageId},#{image.title},#{image.imgurl},#{image.tourl},5,#{image.forder},#{image.bz},#{image.master_id})
		</foreach>
	</insert>

	<!--根据分类名称获取分类id  -->
	<select id="findTypeIdByName" parameterType="String" resultMap="resultFileResources">
		SELECT F.DOWNLOAD_ID AS DOWNLOADID FROM WEB_FILETYPE F WHERE F.DOWNLOAD_NAME=#{typeName}
	</select>
	<!-- 单次增加分类关系 -->
	<insert id="saveTypeRelation" parameterType="pd">
		INSERT INTO WEB_FILETYPE_FILE
		(FILEID,FILETYPEID,COLUMNID)
			VALUES
		(#{fileid},#{download_id},#{COLUM_ID})
		
	</insert>
	<!--修改下载文件的标记  -->
	<update id="updateFileMark" parameterType="pd">
		UPDATE WEB_DOWNLOAD_FILE SET MARK = #{downloadMark} WHERE ID= #{ID}
	</update>

	
	<!-- 保存文件url信息 -->
	<insert id="insertFileUrlNametype_file" parameterType="cn.cebest.entity.system.download.FileResources">
		INSERT INTO WEB_SKIPPATH(CONTENTID,TYPEID,COLUMNID)VALUES
		<foreach collection="objKey_Value" item="item" close="" open=""
			separator=",">
			(#{fileid},#{item.values},#{item.key})
		</foreach>
	</insert>

	
	<!-- 查询改内容分类的地址栏URL信息 -->
	<select id="findContentUrlNameList" parameterType="cn.cebest.entity.system.download.FileResources" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM WEB_SKIPPATH 
		WHERE CONTENTID = #{fileid}
	</select>
	
	<!-- 修改栏目url信息 -->
	<update id="editContentUrlNameconfig" parameterType="cn.cebest.entity.system.download.FileResources" >
		UPDATE WEB_SKIPPATH
		<set>
			<foreach collection="objKey_Value" item="item" open=""
				separator="," close="">
				<if test="item.key!=null and item.key!=''">
					COLUMNID			= #{item.key}
				</if>
				<if test="item.values!=null and item.values!=''">
					,TYPEID			= #{item.values}
				</if>
			</foreach>
		</set>
		WHERE 
			CONTENTID 			= #{fileid}
		<foreach collection="objKey_Value" item="item" open=""
			separator="," close="">
			<if test="item.key!=null and item.key!=''">
				AND COLUMNID			= #{item.key}
			</if>
			<if test="item.values!=null and item.values!=''">
				AND TYPEID			= #{item.values}
			</if>
		</foreach>
	</update>
	
	<!-- 删除文件地址栏的url信息 -->
	<delete id="deleteFileUrlNametype_file">
		DELETE FROM WEB_SKIPPATH
		WHERE CONTENTID IN
		<foreach collection="array" item="id" close=")" open="("
			separator=",">
			#{id}
		</foreach>
	</delete>
	
	<!-- 根据文件的id查询图片的路径 -->
	<select id="selectFileResourceUrlName" parameterType="String" resultType="pd">
		SELECT FILEID AS id,FILETYPEID AS typeid,COLUMNID AS columnid
		FROM WEB_FILETYPE_FILE 
		WHERE FILEID = #{id}
	</select>
	
	<!-- 保存文件url信息 -->
	<insert id="insertTypeFileResourceUrlNameColumRelation" parameterType="pd">
		INSERT INTO WEB_SKIPPATH(CONTENTID,COLUMNID,TYPEID) VALUES(#{id},#{columnid},#{typeid})
	</insert>
	
	<select id="findFileResourcesByTypeOrColumnid" parameterType="pd" resultMap="resultFileResources">
		SELECT 
			F.FILEID,
			F.TITLE,
			F.CREATED_TIME,
			F.WBURL,
			F.DOWNLOAD_COUNT,
			F.UPDATE_TIME,
			WS.ID AS contentUrlName,
			WSC.SKIPPATH AS columUrlName
		FROM WEB_FILE F
			LEFT JOIN WEB_SKIPPATH WS ON WS.CONTENTID = F.FILEID
			LEFT JOIN WEB_SKIPPATH_COLUMN WSC ON WS.COLUMNID = WSC.COLUMNID
		<where>
			1=1
			<if test="SITEID !=null and SITEID !=''">and F.SITEID=#{SITEID}</if>
			<if test="contentId !=null and contentId !=''">and F.FILEID=#{contentId}</if>
			<if test="columnId !=null and columnId !=''">and WS.COLUMNID=#{columnId}</if>
			<if test="typeId !=null and typeId !=''">and WS.TYPEID=#{typeId}</if>
		</where>
	</select>
	
	<select id="findlistPageFile"
		parameterType="page" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,F.CREATED_TIME,DF.FILEPACH AS FILEPACH_,DF.NAME as
		NAME_,DF.TYPE AS TYPE_,DF.ID AS ID_,F.DOWNLOAD_COUNT,F.UPDATE_TIME,I.IMGURL,F.SUMMARY,F.FILEDJSON,WT.TXT,I2.IMGURL AS IMGURL_,
		I2.IMAGE_ID AS IMAGE_ID_,I2.TITLE AS TITLE_,WS.ID AS contentUrlName,DF.MARK
		FROM WEB_FILE F
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_FILETYPE_FILE FTF ON FTF.FILEID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON I.IMAGE_ID=F.IMAGEID 
		LEFT JOIN WEB_IMAGE I2 ON I2.MASTER_ID = F.FILEID
		LEFT JOIN WEB_TXT WT ON WT.CONTENT_ID = F.FILEID
		LEFT JOIN WEB_SKIPPATH WS ON F.FILEID=WS.CONTENTID
		<where>
			<if test="pd.columId !=null and pd.columId != ''">
				FTF.COLUMNID=#{pd.columId}
			</if>
			<if test="pd.typeId !=null and pd.typeId != ''">
				and	FTF.FILETYPEID=#{pd.typeId}
			</if>
			
		</where>
		ORDER BY F.SORT,F.UPDATE_TIME DESC
	</select>
	
	
	<select id="getDowList"
		parameterType="pd" resultMap="resultFileResources">
		SELECT
		F.FILEID,F.TITLE,
		DATE_FORMAT(F.CREATED_TIME,'%Y-%m-%d') CREATED_TIME,
		DATE_FORMAT(F.UPDATE_TIME,'%Y-%m-%d') UPDATE_TIME,
		DF.FILEPACH AS FILEPACH_,DF.NAME as
		NAME_,DF.TYPE AS TYPE_,DF.ID AS ID_,F.DOWNLOAD_COUNT,I.IMGURL,F.SUMMARY,F.FILEDJSON,WT.TXT,I2.IMGURL AS IMGURL_,
		I2.IMAGE_ID AS IMAGE_ID_,I2.TITLE AS TITLE_,WS.ID AS contentUrlName,DF.MARK,DF.SIZE
		FROM WEB_FILE F
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_FILETYPE_FILE FTF ON FTF.FILEID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON I.IMAGE_ID=F.IMAGEID 
		LEFT JOIN WEB_IMAGE I2 ON I2.MASTER_ID = F.FILEID
		LEFT JOIN WEB_TXT WT ON WT.CONTENT_ID = F.FILEID
		LEFT JOIN WEB_SKIPPATH WS ON F.FILEID=WS.CONTENTID
		where F.FILEID IN
		<foreach collection="ids" close=")" item="id18" open="("
			separator=",">
			#{id18}
		</foreach>
		ORDER BY 
		<if test="name != null and name != ''">
			convert(F.TITLE using GBK) ASC,
		</if>
		<if test="time != null and time != ''">
			F.UPDATE_TIME,
		</if>
		F.SORT DESC
	</select>
	
	<select id="getDowIdlistPage" parameterType="page" resultType="string">
		SELECT
			DISTINCT F.FILEID
		FROM WEB_FILE F
		LEFT JOIN WEB_DOWNLOAD_FILE DF ON DF.FILEID=F.FILEID
		LEFT JOIN WEB_FILETYPE_FILE FTF ON FTF.FILEID=F.FILEID
		LEFT JOIN WEB_IMAGE I ON I.IMAGE_ID=F.IMAGEID 
		LEFT JOIN WEB_IMAGE I2 ON I2.MASTER_ID = F.FILEID
		LEFT JOIN WEB_TXT WT ON WT.CONTENT_ID = F.FILEID
		LEFT JOIN WEB_SKIPPATH WS ON F.FILEID=WS.CONTENTID
		<where>
			<if test="pd.typeId !=null and pd.typeId != ''">
				and	FTF.FILETYPEID=#{pd.typeId}
			</if>
			<if test="pd.columnId !=null and pd.columnId != ''">
				and	FTF.COLUMNID=#{pd.columnId}
			</if>
			<if test="pd.id != null and pd.id != ''">
				and F.FILEID=#{pd.id}
			</if>
			<if test="pd.find != null and pd.find != ''">
				AND F.TITLE LIKE '%' #{pd.find} '%'
			</if>
		</where>
		ORDER BY 
		<if test="pd.name != null and pd.name != ''">
			convert(F.TITLE using GBK) ASC,
		</if>
		<if test="pd.time != null and pd.time != ''">
			F.UPDATE_TIME,
		</if>
		F.SORT DESC
	</select>
	
</mapper>
