@charset "utf-8";
/* reset */
html { height: 100%; }
body { min-height: 100% }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal; }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, textarea, button { -webkit-border-radius: 0; -webkit-appearance: none }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { color:#333; font-size: 14px; font-family:"Microsoft Yahei","微软雅黑",arial,"\5b8b\4f53";  }
body { line-height: 1.5 }
a:link,
a:visited,
a:active,
a { text-decoration: none;}
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none } 

.edit_con_original{ line-height:2; padding:0 0; color:#333; text-align:justify;}
.edit_con_original ul{ margin:inherit; padding:inherit}
.edit_con_original ul li { list-style-type:disc; margin:auto; padding:inherit}
.edit_con_original ol{ margin:inherit; padding:inherit}
.edit_con_original ol li { list-style-type:decimal; margin:auto; padding:inherit}
.edit_con_original h1 { font-size: 2em; font-weight:bold }
.edit_con_original h2 { font-size: 1.5em; font-weight:bold }
.edit_con_original h3 { font-size: 1.17em; font-weight:bold }
.edit_con_original h4 { font-size: 1em; font-weight:bold }
.edit_con_original h5 { font-size: 0.83em; font-weight:bold }
.edit_con_original h6 { font-size: 0.67em; font-weight:bold }
.edit_con_original em { font-style: italic }
.edit_con_original cite{ font-style: italic }
.edit_con_original address{ font-style: italic }
.edit_con_original i { font-style: italic }
.edit_con_original table{ border-collapse: separate; border-spacing: 2px }
.edit_con_original img{ max-width:100%; height:auto;}

@media screen and (max-device-width: 320px){
  body{-webkit-text-size-adjust:none}
}
@media screen and (max-device-width: 480px){
  body{-webkit-text-size-adjust:none}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2){
  body{-webkit-text-size-adjust:none}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  body{-webkit-text-size-adjust:none}
}

#newBridge .nb-icon-right-center{right: -200%!important;}
#nb_icon_wrap{opacity:0;width: 0px!important;height: 0px!important;overflow: hidden;}

/*所有后台编辑器区域都要引用 edit_con_original 类名*/

/* clear 页头，页脚，内容区都不用再加清除样式 */
.fixed:before, .clearfix:before, .cf:before, body:before, .header:before, .main:before, .footer:before { content: ''; display: table }
.fixed:after, .clearfix:after, .cf:after, after, .header:after, .main:after, .footer:after { content: ''; display: table; clear: both }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {opacity:0.5;}
input:-moz-placeholder, textarea:-moz-placeholder {opacity:0.5;}
input::-moz-placeholder, textarea::-moz-placeholder { opacity:0.5;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {opacity:0.5;}

/*公用样式end*/

.browserupgrade{display:block;position:fixed;margin:0;width:100%;height:60px;font-size:15px;line-height:60px;z-index:1000;background-color:#666;color:#fff;text-align:center}
.browserupgrade a{color:#eee;text-decoration:underline;font-size:18px;}
.browserupgrade a:hover{color:#eee}
/*
<!--[if lt IE 9]>
  <p class="browserupgrade">您在使用一个 <strong>旧版本的</strong> 浏览器。请 <a href="http://browsehappy.com/">更新你的浏览器</a> 来更好的体验本网站.</p>
<![endif]-->
*/

.wrap{max-width: 1280px;margin-left:auto;margin-right:auto;}
@media only screen and (max-width: 1280px){
  .wrap{padding-right:20px;padding-left:20px;-webkit-box-sizing: border-box;box-sizing: border-box;}
}
@media only screen and (max-width: 767px){
  .wrap{padding-right:10px;padding-left: 10px;}
}


.mt_85{margin-top:85px;}
.mb_85{margin-bottom:85px;}

.mt_75{margin-top:75px;}
.mb_75{margin-bottom:75px;}
.pt_75{padding-top: 75px;}
.pb_75{padding-bottom: 75px;}
.pt_60{padding-top: 60px;}
.pb_60{padding-bottom: 60px;}

.line_height21{line-height: 2.1}
.mt_55{margin-top:55px;}
.mt_45{margin-top:45px;}
.mt_40{margin-top:40px;}
.mt_30{margin-top:30px;}

.line_height19{line-height: 1.9}
.mt_25{margin-top:25px;}
.mt_20{margin-top:20px;}
.mt_15{margin-top:15px;}



@media only screen and (max-width: 1366px){
  .line_height19{line-height: 1.5}

  .mt_85{margin-top:65px;}
  .mb_85{margin-bottom:65px;}
  .mt_75{margin-top:55px;}
  .mb_75{margin-bottom:55px;}
  .pt_75{padding-top: 55px;}
  .pb_75{padding-bottom: 55px;}
  .pt_60{padding-top: 45px;}
  .pb_60{padding-bottom: 45px;}


  .mt_55{margin-top:50px;}
}

@media only screen and (max-width: 1200px){
  .line_height21{line-height: 1.8}
  .mt_55{margin-top:40px;}
  .mt_45{margin-top:35px;}
  .mt_40{margin-top:30px;}
  .mt_30{margin-top:20px;}
  .mt_25{margin-top:20px;}
  .mt_20{margin-top:15px;}
  .mt_15{margin-top:10px;}

  .mt_85{margin-top:45px;}
  .mb_85{margin-bottom:45px;}
  .mt_75{margin-top:35px;}
  .mb_75{margin-bottom:35px;}
  .pt_75{padding-top: 35px;}
  .pb_75{padding-bottom: 35px;}
  .pt_60{padding-top: 30px;}
  .pb_60{padding-bottom: 30px;}
}
@media only screen and (max-width: 1000px){
  .mt_85{margin-top:30px;}
  .mb_85{margin-bottom:30px;}
  .mt_75{margin-top:20px;}
  .mb_75{margin-bottom:20px;}
  .pt_75{padding-top: 20px;}
  .pb_75{padding-bottom: 20px;}
  .pt_60{padding-top: 20px;}
  .pb_60{padding-bottom: 20px;}
  .mt_30{margin-top:15px;}
  .mt_25{margin-top:15px;}
}
@media only screen and (max-width: 767px){
  .line_height21{line-height: 1.6}
  .mt_55{margin-top:30px;}
  .mt_45{margin-top:25px;}
  .mt_40{margin-top:20px;}
  .mt_30{margin-top:10px;}

  .line_height19{line-height: 1.4}
  .mt_25{margin-top:10px;}
  .mt_20{margin-top:10px;}
  .mt_15{margin-top:10px;}

}
/*font-size*/
.fnt_12 { font-size:12px;}
.fnt_14 { font-size:14px;}
.fnt_16 { font-size:16px;}
.fnt_18 { font-size:18px;}
.fnt_20 { font-size:20px;}
.fnt_22 { font-size:22px;}
.fnt_24 { font-size:24px;}
.fnt_26 { font-size:26px;}
.fnt_28 { font-size:28px;}
.fnt_30 { font-size:30px;}
.fnt_32 { font-size:32px;}
.fnt_34 { font-size:34px;}
.fnt_36 { font-size:36px;}
.fnt_38 { font-size:38px;}
.fnt_40 { font-size:40px;}

.fnt_42 { font-size:42px;}
.fnt_44 { font-size:44px;}
.fnt_46 { font-size:46px;}
.fnt_48 { font-size:48px;}
.fnt_50 { font-size:50px;}
.fnt_52 { font-size:52px;}
.fnt_54 { font-size:54px;}
.fnt_56 { font-size:56px;}
.fnt_58 { font-size:58px;}
.fnt_60 { font-size:60px;}

@media only screen and (max-width: 1440px) {
  
  .fnt_22 { font-size:18px;}
  .fnt_24 { font-size:20px;}
  .fnt_26 { font-size:24px;}
  .fnt_28 { font-size:24px;}
  .fnt_30 { font-size:30px;}
  .fnt_32 { font-size:30px;}
  .fnt_34 { font-size:30px;}
  .fnt_36 { font-size:32px;}
  .fnt_38 { font-size:32px;}
  .fnt_40 { font-size:34px;}

  .fnt_42 { font-size:34px;}
  .fnt_44 { font-size:34px;}
  .fnt_46 { font-size:36px;}
  .fnt_48 { font-size:36px;}
  .fnt_50 { font-size:38px;}
  .fnt_52 { font-size:38px;}
  .fnt_54 { font-size:38px;}
  .fnt_56 { font-size:40px;}
  .fnt_58 { font-size:40px;}
  .fnt_60 { font-size:42px;}
}
@media only screen and (max-width: 1200px) {
  .fnt_20 { font-size:16px;}
}

@media only screen and (max-width: 1024px) {
  .fnt_18 { font-size:16px;}
  .fnt_24 { font-size:18px;}
  .fnt_26 { font-size:20px;}
  .fnt_28 { font-size:20px;}
  .fnt_30 { font-size:24px;}
  .fnt_32 { font-size:24px;}
  .fnt_34 { font-size:24px;}
  .fnt_36 { font-size:26px;}
  .fnt_38 { font-size:26px;}
  .fnt_40 { font-size:30px;}

  .fnt_42 { font-size:30px;}
  .fnt_44 { font-size:30px;}
  .fnt_46 { font-size:32px;}
  .fnt_48 { font-size:32px;}
  .fnt_50 { font-size:34px;}
  .fnt_52 { font-size:34px;}
  .fnt_54 { font-size:34px;}
  .fnt_56 { font-size:36px;}
  .fnt_58 { font-size:36px;}
  .fnt_60 { font-size:38px;}
}

@media only screen and (max-width: 767px) {
  .fnt_14 { font-size:12px;}
  .fnt_16 { font-size:14px;}
  .fnt_18 { font-size:14px;}
  .fnt_20 { font-size:14px;}
  .fnt_22 { font-size:16px;}
  .fnt_24 { font-size:16px;}
  .fnt_26 { font-size:18px;}
  .fnt_28 { font-size:18px;}
  .fnt_30 { font-size:18px;}
  .fnt_32 { font-size:22px;}
  .fnt_34 { font-size:22px;}
  .fnt_36 { font-size:24px;}
  .fnt_38 { font-size:24px;}
  .fnt_40 { font-size:24px;}

  .fnt_42 { font-size:24px;}
  .fnt_44 { font-size:24px;}
  .fnt_46 { font-size:24px;}
  .fnt_48 { font-size:26px;}
  .fnt_50 { font-size:26px;}
  .fnt_52 { font-size:26px;}
  .fnt_54 { font-size:28px;}
  .fnt_56 { font-size:28px;}
  .fnt_58 { font-size:28px;}
  .fnt_60 { font-size:30px;}
}


.pad_display_logo{display: none;}
@media only screen and (max-width: 767px){
  .pc_display_logo{display: none;}
  .pad_display_logo{display: block;}
}

.pad_display{display: none;}
@media only screen and (max-width: 1024px){
  .pc_display{display: none;}
  .pad_display{display: block;}
}

.header{height: 78px;border-top: 2px solid #ffb200;background: #fff;}
.header .logo{float:left;height: 78px;}
.header .logo a{display: block;top:50%;position: relative;margin-top: -25px;}
.header .logo img{max-width: 100%;}
.header .right{float: right;margin-top: 23px;}
.header .right .search_pad{float: left;position: relative;}
.header .right .search_con input[type='text']{font-size:12px;width:230px;height: 30px;background: #f7f7f7;border-radius: 3px;border:0;text-indent: 10px;padding-right: 70px;}
.header .right .search_con input[type="button"]{width: 70px;height: 30px;
  background:#004070 url(../../images/front_1/in_search.png) no-repeat center;border:0;border-radius: 3px;
  position: absolute;right: 0px;top:0px;
}
.header .right .r_btn{float: left;margin-left: 20px;}
.header .right .r_btn a{display: inline-block;height: 30px;line-height: 30px;color: #fff;}
.header .right .r_btn a img{vertical-align: middle;padding:0 7px 0 15px;transform:translateY(-1px);}
.header .right .r_btn a.lx{width: 140px;background: #ed6c00;}
.header .right .r_btn a.tw{width: 104px;background: #004070;}
.header .nav_btn{display: none;}
@media only screen and (max-width: 1190px){
  .header .logo{width: 40%;}
  .header .logo a{margin-top: 0px;transform:translateY(-50%);}
}

@media only screen and (max-width: 1024px){
  .header .logo{width: 60%;}
  /*导航按钮*/
  .header .nav_btn{display:block;float: right;cursor:pointer;height: 30px;width: 30px;position: relative;margin-left: 20px;z-index: 999999;}
  .header .nav_btn span{display: inline-block;width: 27px;height: 3px;background-color: #004070;
    position: absolute;top: 14px;left: 0px;
    transition:background-color 0.3s ease-out 0.1s;
  }
  .header .nav_btn span:after{content:'';display: inline-block;width: 27px;height: 3px;
    background-color: #004070;position: absolute;top: 8px;left:0px;
    transition:transform 0.3s ease-out,top 0.5s ease 0.4s;
    transform: rotate(0deg);
  }
  .header .nav_btn span:before{content:'';display: inline-block;width: 27px;height: 3px;
    background-color: #004070;position: absolute;top: -8px;left:0px;
    transition:transform 0.3s ease-out,top 0.5s ease 0.4s;
    transform: rotate(0deg);
  }

  .header.btn_click .nav_btn span{background-color: transparent;z-index: 9;}
  .header.btn_click .nav_btn span:after{
    transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
    transform: rotate(-45deg);top: 0px;
    background-color: #fff;
  }
  .header.btn_click .nav_btn span:before{
    transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
    transform: rotate(45deg);top: 0px;
    background-color: #fff;
  }
  /*导航按钮结束*/
  /*搜索按钮*/
  .header .right .search_btn{width: 30px;height: 30px;float: left;}
  .header .right .search_btn img{margin-top: 7px;}
  .header .right .search_pad{display:none;position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;background: rgba(0,64,112,0.9);z-index: 99999;}
  .header .right .search_pad .search_con.pad_style{width: 80%;margin:150px auto;position: relative;}
  .header .right .search_pad .search_con.pad_style input[type='text']{width: 99%;box-sizing:border-box;height: 50px;padding-right: 100px;}
  .header .right .search_pad .search_con.pad_style input[type='button']{height: 50px;width:100px;}
  .header .right .search_pad .search_clock{font-size: 24px;color: #fff;position: absolute;right: 5%;top: 8%;}
  
}
@media only screen and (max-width: 767px){
  .header .right .search_pad .search_con.pad_style{width: 90%;}
}

.nav{height: 60px;background: #004070;}
.nav>ul{position: relative;}
.nav>ul>li{float: left;line-height: 60px;}
.nav>ul>li>a{color:#fff;display: block;padding:0 25px;}
.nav>ul>li>a:hover{background: #ed6c00;}
.nav>ul>li.hover>a{background: #ed6c00;}
.nav .e_nav{display:none;position: absolute;left:0px;top: 60px;padding:25px 120px;background: #fff;width: 1040px;z-index: 999;}
.nav>ul>li:hover .e_nav{display: block;}
.nav .e_nav .left{float: left;width: 145px;border-right:1px solid #e5e5e5;padding-bottom: 10px;margin-top: 10px;}
.nav .e_nav .left li{line-height: 35px;}
.nav .e_nav .left li a:hover{color: #ed6c00;}
.nav .e_nav .middle{float: left;width:450px;border-right:1px solid #e5e5e5;padding-right: 40px;padding-left:40px;padding-bottom: 10px;}
.nav .e_nav .middle dt{line-height: 1;margin-bottom: 20px;color: #ed6c00;}
.nav .e_nav .middle dd{line-height: 30px;}
.nav .e_nav .middle dd em{float: right;}
.nav .e_nav .middle dd a{display: inline-block;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 380px;}
.nav .e_nav .middle dd.about a{white-space: inherit;}
.nav .e_nav .middle dd a:hover{color: #ed6c00;}
.nav .e_nav .right{float: right;width:302px;}
.nav .e_nav .right img{width: 100%;}
@media only screen and (max-width: 1300px){
  .nav>ul>li{width: 10%;box-sizing:border-box;}
  .nav>ul>li>a{box-sizing:border-box;padding:0 15px;text-align: center;}
  .nav .e_nav{width: 100%;box-sizing:border-box;}
  .nav .e_nav *{box-sizing:border-box;}
  .nav .e_nav .left{width: 20%;}
  .nav .e_nav .middle{width:50%; padding:0 20px 10px 20px;}
  .nav .e_nav .right{width: 27%;}
}
@media only screen and (max-width: 1024px){
  /*导航内容*/
  .nav{display:none;position: fixed;top:0px;left: 0px;right: 0px;bottom: 0px;background: rgba(0,64,112,0.95);height: auto;z-index: 99999;}
  .nav>ul{position: absolute;top: 50px;bottom: 50px;overflow-y: auto;left:0px;right: 0px;}
  .nav>ul>li{float: none;width: 100%;border-bottom: 1px solid #fff;line-height: 45px;}
  
  .nav .e_nav{position: static;padding:0;}
  .nav>ul>li.hover .e_nav{display: block;}
  .nav .e_nav .left{width: 100%;border-right:0;}
  .nav .e_nav .left li{border-bottom:1px solid #eee;text-align: center;}
  .nav .e_nav .left li:last-child{border-bottom: 0;}
  .nav .e_nav .middle{display: none;}
  .nav .e_nav .right{display: none;}
}

.footer{background: #004070;padding:40px 0;border-top:1px solid #ed6c00;margin-top: 1px;}
.footer .left{float: left;}
.footer .left img{max-width: 100%;margin-top: 15px;}
.footer .right{float:right;text-align: right;color:#fff;}
.footer .right p{margin-bottom: 5px;}
.footer .right a{color: #fff;padding:0 10px;}
.footer .right a:last-child{padding-right: 0;}
.footer .right a:hover{text-decoration: underline;}
@media only screen and (max-width: 1200px){
  .footer{padding:30px 0;}
  .footer .left{float: none;margin-bottom: 10px;}
  .footer .left img{margin-top: 0px;}
  .footer .right{float:none;text-align: left;}
  .footer .right a:first-child{padding-left: 0;}
  .footer .right p{margin-bottom: 0px;}
}
@media only screen and (max-width: 320px){
  .footer .right p span{display: block;}
}

.n_banner{text-align: center;}
.n_banner img{max-width: 100%;}
.crumb{border-bottom: 1px solid #eee;padding-bottom: 5px;}
.crumb .wrap>*{float: left;padding-right: 10px;color: #666;}
.crumb img{margin-top: 3px;}
.crumb i{display: inline-block;
  margin-top: 8px;
  width: 0px;height: 0px;
  border-left: 3px solid #666;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
}
.crumb span{font-size: 12px;padding-top: 2px;}

.n_con .n_left{width: 280px;margin-right: -280px;float: left;position: relative;z-index: 9;}
.side_nav{width: 245px;}
.side_nav dt{width: 100%;height: 80px;background: #ed6c00;overflow: hidden;}
.side_nav dt h3{border-left: 2px solid #fff;color:#fff;margin:20px 0 0 25px;padding-left: 10px;}
.side_nav dt h3 p{line-height: 1em;}
.side_nav dt h3 span{display:inline-block;color: #f7c8b1;line-height: 1em;text-transform:Uppercase;}
.side_nav dd{line-height: 50px;background: #f8f8f8;text-indent: 40px;position: relative;border-bottom: 1px solid #f8f8f8;}
.side_nav dd i{display: block;position: absolute;right: 40px;top: 22px;width:10px;height:6px; background:url(../../images/front_1/n_nav_ico02.png) no-repeat;}
.side_nav dd:hover{background: #f2f2f2;}
.side_nav dd.dd_hover{background: #f2f2f2;border-bottom: 1px solid #ececec;}
.side_nav dd.dd_hover i{ background:url(../../images/front_1/n_nav_ico01.png) no-repeat;}
.side_nav dd>a{font-size: 16px;display: block;width: 100%;}
.side_nav dd>a:hover{color: #ed6c00;}
.side_nav dd.dd_hover>a{color: #ed6c00;}
.side_nav dd ul{overflow:hidden;height: 0px;opacity: 0;-webkit-transition: all .2s;-moz-transition: all .2s; -ms-transition: all .2s;transition: all .2s;}
.side_nav dd.dd_hover ul{height:auto;opacity: 1;}
.side_nav dd li{text-indent: 50px;line-height: 40px;}
.side_nav dd li a{display: block;width: 100%;}
.side_nav dd li a:hover{color: #ed6c00;background: #fdede0;}
.side_nav dd li a.hover{color: #ed6c00;background: #fdede0;}

.n_con .n_right{width: 100%;float: left;}
.n_con .n_right .n_r_con{margin-left: 280px;border-left: 1px solid #eee;min-height: 620px;padding-left: 40px;}

@media only screen and (max-width: 1050px){
  .n_con .n_left{width: 250px;margin-right: -250px;}
  .n_con .n_right .n_r_con{margin-left: 250px;padding-left: 5px;}
}
@media only screen and (max-width: 1000px){
  .n_con .n_left{width: 100%;margin-right: 0;}
  .side_nav{width: 100%;position: relative;}
  .side_nav>dt{position: relative;height:60px;}
  .side_nav dt h3{margin-top:10px;}
  .side_nav>dd{display: none;}
  .side_nav.btn_click>dd{display: block;position: absolute;top:60px;left: 0px;right: 0px;}
  /*导航按钮*/
  .side_nav .n_nav_btn{position:absolute;right:20px;top:15px;display:block;float: right;cursor:pointer;height: 30px;width: 30px;
    margin-left: 20px;z-index: 999999;}
  .side_nav .n_nav_btn span{display: inline-block;width: 27px;height: 3px;background-color: #fff;
    position: absolute;top: 14px;left: 0px;
    transition:background-color 0.3s ease-out 0.1s;
  }
  .side_nav .n_nav_btn span:after{content:'';display: inline-block;width: 27px;height: 3px;
    background-color: #fff;position: absolute;top: 8px;left:0px;
    transition:transform 0.3s ease-out,top 0.5s ease 0.4s;
    transform: rotate(0deg);
  }
  .side_nav .n_nav_btn span:before{content:'';display: inline-block;width: 27px;height: 3px;
    background-color: #fff;position: absolute;top: -8px;left:0px;
    transition:transform 0.3s ease-out,top 0.5s ease 0.4s;
    transform: rotate(0deg);
  }

  .side_nav.btn_click .n_nav_btn span{background-color: transparent;z-index: 9;}
  .side_nav.btn_click .n_nav_btn span:after{
    transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
    transform: rotate(-45deg);top: 0px;
    background-color: #fff;
  }
  .side_nav.btn_click .n_nav_btn span:before{
    transition: top 0.5s ease, transform 0.3s ease-out 0.4s;
    transform: rotate(45deg);top: 0px;
    background-color: #fff;
  }
  /*导航按钮结束*/

  .n_con .n_right .n_r_con{margin-left: 0;border-left: 0;padding-left: 0;}
}

/*page*/
.page { vertical-align: middle; 
  text-align: center;color: #adadad;

}
.page input { vertical-align: middle; }
.page a { vertical-align: middle; display: inline-block; width: 33px; height:33px;
 line-height: 33px; text-align: center; color: #adadad; margin: 0px 2px; font-family: Arial, Helvetica, sans-serif; 
 border:1px solid #adadad;border-radius: 3px;
}
.page a.on { width: 33px; height: 33px; line-height: 33px; text-align: center; color: #ef7a19; border:1px solid #ef7a19;}
.page a:hover { width: 33px; height: 33px; line-height: 33px; text-align: center; color: #ef7a19; border:1px solid #ef7a19;}
.page a.prev { width: 75px; height: 33px;background: #ef7a19; margin: 0px 5px 0px 0px; color: #fff;border:1px solid #ef7a19;}
.page a.next { width: 75px; height: 33px;background:#ef7a19; margin: 0px 0px 0px 5px; color: #fff;border:1px solid #ef7a19;}
.page span.txtnum { display: inline-block; width: 33px; height: 33px; line-height: 33px; background: #efefef; border: 1px solid #d9d9d9; margin: 0px 0 0 10px; vertical-align: middle; }
.page span.txtnum input { width: 33px; color: #125ca1; height: 33px; line-height: 33px; text-align: center; font-family: Arial, Helvetica,N sans-serif; font-size: 11px; background: none; border: none; }
.page a.go {  color: #fff;font-size:12px;width:33px;background: #bbb;line-height: 33px;}
.page label{ color:#125ca1;}
@media only screen and (max-width: 767px){
  .page a,.page i,.page span{display: none;}
  .page a.prev{display: inline-block;text-indent: 0px;width:65px;height:33px;line-height:33px;border:1px solid #ef7a19;border-radius: 8px;}
  .page a.next{display: inline-block;text-indent: 0px;width: 65px;height:33px;line-height:33px;border:1px solid #ef7a19;border-radius: 8px;}
}  
.n_con{min-height:650px;}
.notice .notice_con{display: none;}